<div class="eCart--header">
    <div class="eCart-logo">
        <!-- <img src="images/logo.jpeg"> -->
        eCart
    </div>
    <div class="eCart--header--nav">
        <div class="eCart--top--bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">SignUp / Login</a>
        </div>
        <div class="eCart--bottom--bar">
            <div class="eCart-menu">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="eCart--search-bar">
                <input type="text" class="eCart-search-box" placeholder="Search">
                <button class="eCart--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>